<!DOCTYPE HTML>
<html lang="fr">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Voiture</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<form th:action="@{/updateCar/}"
      th:object="${car}" method="POST">
    <br/>
    <input type="hidden" th:field="*{id}" th:value="*{id}" />
    Marque:
    <input type="text" th:field="*{brand}" th:value="*{brand}" />
    <br/>
    Model:
    <input type="text" th:field="*{model}" th:value="*{model}" />
    <br/>
    Couleur:
    <input type="text" th:field="*{color}" th:value="*{color}"/>
    <br/>
    <input type="submit" value="Modifier" />
</form>

<a th:href="@{/cars}">Liste des voitures</a>

</body>

</html>