<!DOCTYPE HTML>
<html lang="fr">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Liste des voitures</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Liste des voitures</h1>
<a href="addCar">Ajouter une voiture</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Marque</th>
            <th>Modèle</th>
            <th>Couleur</th>
            <th>Voir</th>
            <th>Supprimer</th>
        </tr>
        <tr th:each ="car : ${cars}">
            <td th:utext="${car.id}">...</td>
            <td th:utext="${car.brand}">...</td>
            <td th:utext="${car.model}">...</td>
            <td th:utext="${car.color}">...</td>
            <td><a th:href="@{/cars/{id}(id=${car.id})}">O</a></td>
            <td><a th:href="@{/deleteCar/{id}(id=${car.id})}">X</a></td>e
        </tr>
    </table>
</div>
</body>
</html>